<!DOCTYPE html>
{% extends 'rideshare/base.html' %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Vehicle</title>
</head>
<body>
	<h1>Add a new journey</h1>
	{% block body_block %}
	
	{% if successful %}#
				Rideshare says: <strong>thank you for adding a vehicle!</strong>
				<a href="/rideshare/">Return to the homepage.</a><br />
	{% else %}
	<form id="journey_form" class="form-horizontal" method="post" action="/add_vehicle/"
					enctype="multipart/form-data">
		  
		  {% csrf_token %}
		  
		  {{ vehicle_form.as_p }}
		  
		  <input type="submit" name="submit" value="Add Vehicle" />

		</fieldset>
	</form>
	{% endif %}
	{% endblock %}
</body>
</html>