<!DOCTYPE html>
<html>
    <head>
		{% load staticfiles %}
		<title>RideShare</title>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
  <script type="text/javascript" src="{% static 'JS/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'JS/bootstrap.min.js' %}"></script>
    </head>

    <body>	
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/">RideShare <span class="sr-only">(current)</span></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			  <ul class="nav navbar-nav">
				<li><a href="/search_ride/">Search </a></li>
				<li><a href="/post_ride/">Post</a></li>

			  </ul>
			  
			  {% if user.is_authenticated %}
			  <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				  <a href="/profile/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{user.username}} <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
				  <li><a href="/profile/">Profile</a></li>
					<li><a href="/add_vehicle/">Add Vehicle</a></li>
					<li class="divider"></li>
					<li><a href="/ridesBooked/">View Booked Journeys</a></li>
					<li><a href="/ridesPosted/">View Rides Posted</a></li>
				  </ul>
				</li>
				<li><a href="/logout/">Logout</a></li>
			  </ul>
			  {% else %}
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="/login/">Login</a></li>
				<li><a href="/registration/">Register</a></li>
			  </ul>
			  {% endif %}
			</div>
		  </div>
		</nav>
		
		<div>
			{% block body_block %}{% endblock %}
		</div>
		
    </body>

</html>