<!DOCTYPE html>
{% extends 'rideshare/base.html' %}

	
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% block body_block %}
        <form id="login_form" method="post" action="/rideshare/login/">
            {% csrf_token %}
			
            Username: <br />
			<input type="text" name="username" value="" size="50" autofocus/> </br>
			Password: <br />
			<input type="password" name="password" value="" size="50" />
			<br />
            <input type="submit" value="submit" />
        </form>
</form>
{% endblock %}
</body>
</html>
