<!DOCTYPE html>
{% extends 'rideshare/base.html' %}
{% load staticfiles %}
{% load static %}

<html>

    <head>
        <title>RideShare</title>
	<link rel="stylesheet" href="../../static/CSS/style.css" />
    </head>

    <body>
	
	{% block body_block %}
		<div class="jumbotron">
		  <h1>Welcome to RideShare!</h1>
		  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		  <p><a class="btn btn-primary btn-lg" href="/search_ride/">Search for a Ride</a>
		  <a class="btn btn-primary btn-lg" href="/rideshare/post_ride/">Post a Ride</a></p>
		</div>
	{% endblock %}
    </body>

</html>



