<!DOCTYPE html>
{% extends 'rideshare/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Details</title>
    <link rel="stylesheet" href="../../static/CSS/style.css" />
</head>
<body>
{% block body_block %}
	<div class="jumbotron">
	<form class="form-horizontal">
		<fieldset>
		<legend> Vehicle Details</legend>
		<div class="form-group">
		  <label for="inputFname" class="col-lg-2 control-label">First Name:</label>
		  <div class="col-lg-3">
			<input type="text" class="form-control" id="inputFname" placeholder="Your Name">
		  </div>
		</div>
		  <div class="form-group">
			<label for="inputSname" class="col-lg-2 control-label">Surname Name:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="inputSname" placeholder="Surname">
			</div>
		  </div>
		  <div class="form-group">
			<label for="email" class="col-lg-2 control-label">University Email:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="email" placeholder="University email address">
			</div>
		  </div>
		  <div class="form-group">
			<label for="age" class="col-lg-2 control-label">Age:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="age" placeholder="Age">
			</div>
		  </div>
		<div class="form-group">
		  <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
		  <div class="col-lg-3">
			<input type="password" class="form-control" id="inputPassword" placeholder="Password">
		  </div>
		</div>
		  <div class="form-group">
			<label for="phone" class="col-lg-2 control-label">Phone Number:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="phone" placeholder="Password">
			</div>
		  </div>
		  <div class="form-group">
			<label for="vehicle" class="col-lg-2 control-label">Vehicle:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="vehicle" placeholder="Vehicle Name">
			</div>
		  </div>
		  <div class="form-group">
			<label for="seat" class="col-lg-2 control-label">Seats:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="seat" placeholder="No. of seats available">
			</div>
		  </div>
			<div class="form-group">
			  <label for="images" class="col-lg-2 control-label">Photos:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="images" placeholder="Images">
			</div>
		  </div>
		  <div class="form-group">
			<label for="travlFrm" class="col-lg-2 control-label">Travelling From:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="travlFrm" placeholder="Place">
			</div>
		  </div>
		  <div class="form-group">
			<label for="travlTo" class="col-lg-2 control-label">Travelling From:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="travlTo" placeholder="Place">
			</div>
		  </div>
			<div class="form-group">
			<label for="travlTo" class="col-lg-2 control-label">Days of Travel:</label>
			<div class="checkbox">
			  <label>
				<input type="checkbox"> Mon
			  </label>
				<label>
				  <input type="checkbox"> Tue
				</label>
				<label>
				  <input type="checkbox"> Wed
				</label>
				<label>
				  <input type="checkbox"> Thu
				</label>
				<label>
				  <input type="checkbox"> Fri
				</label>
				<label>
				  <input type="checkbox"> Sat
				</label>
				<label>
				  <input type="checkbox"> Sun
				</label>
			</div>
				</div>
		  <div class="form-group">
			  <label for="startTime" class="col-lg-2 control-label">Start Time:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="startTime" placeholder="Time">
			</div>
		  </div>
			<div class="form-group">
			  <label for="returnTime" class="col-lg-2 control-label">Return Time:</label>
			<div class="col-lg-3">
				<input type="text" class="form-control" id="returnTime" placeholder="Time">
			</div>
		  </div>
			<div class="form-group">
		  <div class="col-lg-10 col-lg-offset-2">
			<button type="submit" class="btn btn-primary">Add</button>
		  </div>
		</div>

		  </fieldset>
	  </form>
	</div>
{% endblock %}
</body>
</html>