<!DOCTYPE html>
{% extends 'rideshare/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../../static/CSS/style.css" />
    <title>Ride Details</title>
</head>
<body>
{% block body_block %}
<div class="jumbotron">
	<form class="form-horizontal" id="user_form" enctype="multipart/form-data">

		<fieldset>
			<legend>Driver Details</legend>
				<div class="form-group">
					<label class="col-lg-2 control-label">Driver Name</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ user.first_name}} {{user.last_name }}</label>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Age</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ user.age }}</label>
						</div>
				</div>		
				<div class="form-group">
					<label class="col-lg-2 control-label">Driver's Email</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ user.email }}</label>
						</div>
				</div>		
				<div class="form-group">
					<label class="col-lg-2 control-label">Contact Number</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ user.phone }}</label>
						</div>
				</div>		
				<div class="form-group">
					<label class="col-lg-2 control-label">First Name</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ user.first_name }}</label>
						</div>
				</div>		
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Last Name</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ user.last_name }}</label>
						</div>
				</div>
		</fieldset>
		
		<fieldset>
			<legend>Ride Details</legend>
				<div class="form-group">
					<label class="col-lg-2 control-label">From</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.departure }}</label>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">To</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.destination }}</label>
						</div>
				</div>				
				<div class="form-group">
					<label class="col-lg-2 control-label">Date</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.travelling_date }}</label>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Time</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.travelling_time }}</label>
						</div>
				</div>
				
		</fieldset>
				
		<fieldset>
			<legend>Car Details</legend>
				<div class="form-group">
					<label class="col-lg-2 control-label">Car</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ vehicle.make }}</label>
						</div>
				</div>		
				<div class="form-group">
					<label class="col-lg-2 control-label">Registration Number</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ vehicle.registration_number }}</label>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Seats Availability</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ vehicle.no_of_seats }}</label>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Cost per mile (in GBP)</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ vehicle.cost }}</label>
						</div>
				</div>
				
			
				<form id="review_form" method="post" action="/rideDetail/" enctype="multipart/form-data">
					<label class="col-lg-2 control-label">Reviews for the driver</label>
						<div class="col-lg-3">
							{% for review in review_list %}
							

							<blockquote>
							  <p>{{ review.description }}</p>
							  <small>	{{ review.posted_by }} posted on: {{ review.posted_at }}</small>
							</blockquote>

							{% empty %}
								<Textarea disabled class="text" cols="35" rows="3">No reviews posted yet</Textarea>
							{% endfor %}
						</div></br>
											
							{{ review_form.as_p }}
							
							{% if posted %}
									Rideshare says: <strong>thank you for reviewing!</strong>
							{% else %}
									<!---strong>Click Post to post reviews</strong--->
							{% endif %}
							</br></br>
							<input type="submit" name="submit" value="Post" onClick="function()" />
						
					
				</form>
		</fieldset>
	
</div>
</form>	

{% endblock %}
</body>
</html>

						
						
						