<!DOCTYPE html>
{% extends 'rideshare/base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="../../static/CSS/style.css" />
    <title>Ride Details</title>
</head>
<body>
{% block body_block %}
<div class="jumbotron">
	<form class="form-horizontal" id="user_form" enctype="multipart/form-data">

		<fieldset>
			<legend>Driver Details</legend>
				<div class="form-group">
					<label class="col-lg-2 control-label">Driver Name</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ user.first_name}} {{ user.last_name }}</label>
						</div>
				</div>
				
				<div class="form-group">
					<label class="col-lg-2 control-label">Age</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ driver.age }}</label>
						</div>
				</div>		
				<div class="form-group">
					<label class="col-lg-2 control-label">Driver's Email</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ user.email }}</label>
						</div>
				</div>		
				<div class="form-group">
					<label class="col-lg-2 control-label">Contact Number</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ driver.phone }}</label>
						</div>
				</div>		
		</fieldset>
		
		<fieldset>
			<legend>Ride Details</legend>
				<div class="form-group">
					<label class="col-lg-2 control-label">From</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.departure }}</label>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">To</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.destination }}</label>
						</div>
				</div>				
				<div class="form-group">
					<label class="col-lg-2 control-label">Date</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.travelling_date }}</label>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Time</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.travelling_time }}</label>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Seats Availability</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.seatsAvailable }}</label>
						</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label">Cost</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ journey.cost }}</label>
						</div>
				</div>
				
		</fieldset>
				
		<fieldset>
			<legend>Car Details</legend>
				<div class="form-group">
					<label class="col-lg-2 control-label">Make</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ vehicle.make }}</label>
						</div>
				</div>	
				<div class="form-group">
					<label class="col-lg-2 control-label">Model</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ vehicle.model }}</label>
						</div>
				</div>				
				<div class="form-group">
					<label class="col-lg-2 control-label">Registration Number</label>
						<div class="col-lg-3">
							<label class="col-lg-2 control-label">{{ vehicle.reg_no }}</label>
						</div>
				</div>
		</fieldset>
	</form>			
				{% if posted %}
					Rideshare says: <strong>thank you for reviewing!</strong>
				{% else %}
				
						{% for review in review_list %}
								</br><a>{{ review.posted_by  }} posted on: {{ review.posted_at }}<a></br></br>
								<Textarea class="text" cols="35" rows="3">{{ review.description }}</Textarea>
							{% empty %}
								<Textarea class="text" cols="35" rows="3" placeholder="No reviews posted yet"></Textarea>					
						{% endfor %}
					</br>
					</br>
					<form id="review_form" method="post" action="{% url 'search:get_ride_detail' journey.journey %}" enctype="multipart/form-data">		
							{% csrf_token %}
							{{ review_form.as_p }}
							<input type="submit" name="submit" value="Add Review" />
					</form>
				{% endif %}
</div>


{% endblock %}
</body>
</html>				