<!DOCTYPE html>
{% extends 'rideshare/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Ride</title>
	<link rel="stylesheet" href="../../static/CSS/style.css" />
</head>
<body>
{% block body_block %}
	<h1>Search for a Ride</h1>
	
	<!--- <form method="get" action="/results/" class="navbar-form pull-right">
		<input type="text" id="searchBox" class="input-medium search-query" name="timeDB" placeholder="Search">
		<input type="submit" class="btn" value="TimeSearch" >
	</form> --->
	
	
	{% if journeys %}
		<table>
			<tr>
				<th>Departure: </th>
				<th>Destination: </th>
				<th>Date: </th>
				<th>Departure Time: </th>
				<th>Return Journey?: </th>
			</tr>
			{% for journey in journeys %}
			<tr>
					<td>{{ journey.departure }}</td>
					<td>{{ journey.destination }}</td>
					<td>{{ journey.travelling_date }}</td>
					<td>{{ journey.travelling_time }}</td>
					<td>{{ journey.is_return }}</td>
					</br>
			</tr>
			{% endfor %}
		</table>
    {% else %}
        <strong>There are no journeys currently.</strong>
    {% endif %}
{% endblock %}
</body>
</html>
