<!DOCTYPE html>
{% extends 'rideshare/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Ride</title>
	<link rel="stylesheet" href="../../static/CSS/style.css" />
</head>
<body>
{% block body_block %}
	<h1>Search for a Ride</h1>
	
	<!--- <form method="get" action="/results/" class="navbar-form pull-right">
		<input type="text" id="searchBox" class="input-medium search-query" name="timeDB" placeholder="Search">
		<input type="submit" class="btn" value="TimeSearch" >
	</form> --->

	{% if journeys %}
	<div id="journey">
			<table>
				<tr>
					<input class="search" placeholder="Search" />
						<th><button class="sort" data-sort="departure">Departure </button></th>
						<th><button class="sort" data-sort="destination">Destination </button></th>
						<th><button class="sort" data-sort="date">Date </button></th>
						<th><button class="sort" data-sort="time">Departure Time </button></th>
						<th><button class="sort" data-sort="return">Return Journey? </button></th>
				</tr>
				<tbody class="list">
					{% for journey in journeys %}
					<tr>
							<td class="departure">{{ journey.departure }}</td>
							<td class="destination">{{ journey.destination }}</td>
							<td class="date">{{ journey.travelling_date }}</td>
							<td class="time">{{ journey.travelling_time }}</td>
							<td class="return">{{ journey.is_return }}</td>
							</br>
					</tr>
					{% endfor %}
				</tbody>
			</table>
	{% else %}
		<strong>There are no journeys currently.</strong>
	{% endif %}
	</div>
<script src="http://listjs.com/no-cdn/list.js"></script>	
<script>var options = {
  valueNames: [ 'departure', 'destination', 'date', 'time', 'return' ]
};

var userList = new List('journey', options);</script>
{% endblock %}
</body>
</html>
