<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Details</title>
    <style>
        h1{
         color:black;
        font-size:40px;
        text-align:center;
        }
        h4{
        color:black;
        font-size:30px;
        text-align:center;
        }
        table{
        margin-left:800px;
        border:2px solid white;
        background-color:beige;
        }
        td{
        padding:10px;
        border:2px solid white
        }
    </style>
</head>
<body>
<body>
<h1>Vehicle Details for Passengers<hr/></h1>
<h4>Please fill your vehicle details.</h4>
<br/>
<table>
    <tr>
        <td>First name:</td>
        <td> <input type="text" name="name1" id="fname"onblur="changeColor(this)"/> </td>
    </tr>
     <tr>
        <td>Last name:</td>
        <td> <input type="text" name="name1" id="lname"onblur="changeColor(this)"/> </td>
    </tr>
    <tr>
        <td>College email Id:</td>
        <td> <input type="email" name="name1" id="colEmailId"onblur="changeColor(this)"/> </td>
    </tr>
     <tr>
        <td>Age:</td>
        <td> <input type="text" name="name1" id="age"onblur="changeColor(this)"/> </td>
    </tr>
    <tr>
        <td>Contact Number:</td>
        <td> <input type="text" name="name1" id="phoneNumber"onblur="changeColor(this)"/> </td>
    </tr>
     <tr>
        <td>Gender:</td>
        <td> <input type="text" name="name1" id="gender"onblur="changeColor(this)"/> </td>
    </tr>
    <tr>
        <td>Vehicle:</td>
        <td> <input type="text" name="name1" id="vehicleName"onblur="changeColor(this)"/> </td>
    </tr>
    <tr>
        <td>Travelling From:</td>
        <td> <input type="text" name="name1" id="trvlFrm"onblur="changeColor(this)"/> </td>
    </tr>
    <tr>
        <td>Travelling To:</td>
        <td> <input type="text" name="name1" id="trvlTo"onblur="changeColor(this)"/> </td>
    </tr>
    <tr>
        <td>Description:</td>
        <td> <input type="text" name="name1" id="description"onblur="changeColor(this)"/> </td>
    </tr>


</body>
</html>